In [4]:
import pandas as pd

In [7]:
import pandas as pd
d1=[100,200,300,400,500]
d2=[501,502,503,504,505]
d3=['Pune','mumbai','nashik','delhi','banglore']
d4={'A':11,'B':12,'C':13,'D':14,'E':15}

In [9]:
pd.Series(d1)

0    100
1    200
2    300
3    400
4    500
dtype: int64

In [10]:
type(pd.Series(d1))

pandas.core.series.Series

In [12]:
pd.Series(data=d3,index=d1)

100        Pune
200      mumbai
300      nashik
400       delhi
500    banglore
dtype: object

In [13]:
pd.Series(d3,d1)

100        Pune
200      mumbai
300      nashik
400       delhi
500    banglore
dtype: object

In [14]:
d4

{'A': 11, 'B': 12, 'C': 13, 'D': 14, 'E': 15}

In [15]:
pd.Series(d4)

A    11
B    12
C    13
D    14
E    15
dtype: int64

In [17]:
pd.Series(d3,d4)

A        Pune
B      mumbai
C      nashik
D       delhi
E    banglore
dtype: object

In [18]:
pd.Series(d4,d3)

Pune       NaN
mumbai     NaN
nashik     NaN
delhi      NaN
banglore   NaN
dtype: float64

In [19]:
s1=pd.Series([10,20,30,40,50],['Pune','mumbai','nashik','delhi','banglore'])

In [20]:
s2=pd.Series([10,20,30,40,50],['Pune','mumbai','nashik','hydrabad','banglore'])

In [21]:
s1

Pune        10
mumbai      20
nashik      30
delhi       40
banglore    50
dtype: int64

In [22]:
s2

Pune        10
mumbai      20
nashik      30
hydrabad    40
banglore    50
dtype: int64

In [23]:
s1+s2

Pune         20.0
banglore    100.0
delhi         NaN
hydrabad      NaN
mumbai       40.0
nashik       60.0
dtype: float64

# DataFrame

In [24]:
#DataFrame==>create table 
import numpy as np

In [27]:
data=pd.DataFrame(np.random.randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [29]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [30]:
np.random.randn(5,4)

array([[ 2.03925314,  0.0670603 ,  1.08243044, -1.9971705 ],
       [-0.05874378,  0.09803026,  0.09054855, -0.39585892],
       [ 1.08062587, -0.71650007,  1.18285096, -0.60548481],
       [ 1.33804655, -0.08928477, -0.28642999,  0.07291351],
       [-0.16496065, -1.2305731 ,  0.22839032,  0.57310991]])

In [31]:
type(data)

pandas.core.frame.DataFrame

In [32]:
data.shape

(5, 4)

In [35]:
type(data['W'])

pandas.core.series.Series

In [36]:
data['W']

A   -1.380752
B   -0.420167
C    1.540066
D   -0.387986
E   -0.028466
Name: W, dtype: float64

In [38]:
data[['W','Y']]

          W         Y
A -1.380752 -0.415421
B -0.420167 -2.068870
C  1.540066  0.278706
D -0.387986  0.093888
E -0.028466 -0.538313

In [39]:
type(data[['W','Y']])

pandas.core.frame.DataFrame

In [40]:
data[['W','X']]

          W         X
A -1.380752 -0.622037
B -0.420167 -0.589197
C  1.540066 -0.471704
D -0.387986 -1.309571
E -0.028466  0.763950

In [41]:
type(data[['W','X']])

pandas.core.frame.DataFrame

In [42]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [44]:
data.loc['B']

W   -0.420167
X   -0.589197
Y   -2.068870
Z   -0.178594
Name: B, dtype: float64

In [45]:
type(data.loc['B'])

pandas.core.series.Series

In [47]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [48]:
data.loc['B','Y']

-2.0688703534320037

In [50]:
type(data.loc['B','Y'])

numpy.float64

In [53]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [54]:
data[data['W']>0]

          W         X         Y         Z
C  1.540066 -0.471704  0.278706 -0.573298

In [55]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [58]:
data.loc[data['W']>0,'Z']

C   -0.573298
Name: Z, dtype: float64

In [59]:
data[data['W']>0]['Z']

C   -0.573298
Name: Z, dtype: float64

In [60]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [64]:
data.drop("new_column",axis=1,inplace=True)

KeyError: "['new_column'] not found in axis"

In [62]:
data

          W         X         Y         Z
A -1.380752 -0.622037 -0.415421 -1.017420
B -0.420167 -0.589197 -2.068870 -0.178594
C  1.540066 -0.471704  0.278706 -0.573298
D -0.387986 -1.309571  0.093888 -0.513614
E -0.028466  0.763950 -0.538313 -1.711082

In [65]:
d3

['Pune', 'mumbai', 'nashik', 'delhi', 'banglore']

In [68]:
data.index=d3

In [69]:
data

                 W         X         Y         Z
Pune     -1.380752 -0.622037 -0.415421 -1.017420
mumbai   -0.420167 -0.589197 -2.068870 -0.178594
nashik    1.540066 -0.471704  0.278706 -0.573298
delhi    -0.387986 -1.309571  0.093888 -0.513614
banglore -0.028466  0.763950 -0.538313 -1.711082

In [70]:
data.reset_index()

      index         W         X         Y         Z
0      Pune -1.380752 -0.622037 -0.415421 -1.017420
1    mumbai -0.420167 -0.589197 -2.068870 -0.178594
2    nashik  1.540066 -0.471704  0.278706 -0.573298
3     delhi -0.387986 -1.309571  0.093888 -0.513614
4  banglore -0.028466  0.763950 -0.538313 -1.711082

In [72]:
data

                 W         X         Y         Z
Pune     -1.380752 -0.622037 -0.415421 -1.017420
mumbai   -0.420167 -0.589197 -2.068870 -0.178594
nashik    1.540066 -0.471704  0.278706 -0.573298
delhi    -0.387986 -1.309571  0.093888 -0.513614
banglore -0.028466  0.763950 -0.538313 -1.711082

In [74]:
data.columns

Index(['W', 'X', 'Y', 'Z'], dtype='object')

In [75]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Pune to banglore
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   W       5 non-null      float64
 1   X       5 non-null      float64
 2   Y       5 non-null      float64
 3   Z       5 non-null      float64
dtypes: float64(4)
memory usage: 200.0+ bytes

# multi index and index hierarchy

In [76]:
outside=['G1','G1','G1','G2','G2','G2']

In [77]:
inside=[1,2,3,1,2,3]

In [78]:
zip(outside,inside)

In [82]:
list(zip(outside,inside)) #create list with the help of zip

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [80]:
h1=list(zip(outside,inside))

In [81]:
h1

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [85]:
hier_index=pd.MultiIndex.from_tuples(h1)

In [86]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [89]:
pd.DataFrame(np.random.randn(6,1),index=hier_index,columns=['A,''B'])

           A,B
G1 1 -0.775317
   2  0.550271
   3 -0.399681
G2 1 -0.592518
   2 -0.547864
   3 -0.638843

# Missing Data
let show a few convenient methods to deal with missing data in pandas

In [91]:
import pandas as pd
import numpy as np